# Dependencies
node_modules/

# Environment variables (berisi secret key!)
.env
.env.*
!.env.example

# Vercel
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
